body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	color: #0e93d1;
	font-family: 'Raleway', sans-serif;
}

label {
	color: #838e93;
}

input {
	border-radius: 5px;
	outline: none;
}

button {
	background: #0e93d1;
	color: #fff;
	border-color: transparent;
	border-radius: 5px;
	padding: 5px;
}


.hide { display: none; }
.flex { display: flex; }
.column { flex-direction: column; }
.row { flex-direction: row; }
.cat-form {
	width: 20%;
}
